<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.themaraudersmap.starwarsnoteblockcollection"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Star Wars Noteblock Collection</name>

    <description>
        An app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/LunaLovegoodCoder" email="Josephine@kludgeless.com">
    LunaLovegoodCoder    
    </author>
  <icon src="icon.png" />
</widget>
